$track-width: 150px;
$track-height: 5px;
$track-background: #ddd;
$thumb-background: goldenrod;
$thumb-width: 16px;
$thumb-height: 16px;

@mixin thumb($width, $height, $background) {
  border: none;
  height: $height;
  width: $width;
  border-radius: 50%;
  background: $background;
}

@mixin track ($width, $height, $background, $ifEdge) {
  width: $width;
  height: $height;

  @if $ifEdge==false {
    background: $background;
    border: none;
    border-radius: 3px;
  }
}

input[type=range] {
  -webkit-appearance: none; //removes default webkit styles
  border: 1px solid white; //fix for FF unable to apply focus style bug
  width: $track-width; //required for proper track sizing in FF

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    @include track($track-width, $track-height, $track-background, false);
  }

  &::-webkit-slider-thumb {
    @include thumb($thumb-width, $thumb-height, $thumb-background);
    -webkit-appearance: none;
    margin-top: -6px;
  }

  &:focus::-webkit-slider-runnable-track {
    background: #ccc;
  }

  &::-moz-range-track {
    @include track($track-width, $track-height, $track-background, false);
  }

  &::-moz-range-thumb {
    @include thumb($thumb-width, $thumb-height, $thumb-background);
  }

  /*hide the outline behind the border*/
  &:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
  }

  &::-ms-track {
    @include track($track-width, $track-height, $track-background, true);
    background: transparent; //remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead
    /*leave room for the larger thumb to overflow with a transparent border*/
    border-color: transparent;
    border-width: 2px 0;
    color: transparent; //remove default tick marks
  }

  &::-ms-fill-lower {
    background: #777;
    border-radius: 3px;
  }

  &::-ms-fill-upper {
    background: #ddd;
    border-radius: 3px;
  }

  &::-ms-thumb {
    @include thumb($thumb-width - 1, $thumb-height - 1, $thumb-background);
    margin-top: -2px;
  }

  &:focus::-ms-fill-lower {
    background: #888;
  }

  &:focus::-ms-fill-upper {
    background: #ccc;
  }
}