* {
  margin: 0;
  padding: 0;
}

html {
  font-family: arial, sans-serif;
  font-size: 10px;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url('../img/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.game-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu {
  box-sizing: border-box;
  position: absolute;
  bottom: 100%;
  left: 2px;
  background-color: $mainColor;
  width: $gameSize;
  margin-bottom: 10px;
  padding: 7px;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;

  &__left {
    display: flex;
  }

  &__icon {
    position: relative;
    font-size: 2rem;
    margin: 0 5px;
    cursor: pointer;

    &--disable {
      color: gray;
      cursor: auto;
    }

    &:not(.menu__icon--disable):hover:after {
      display: block;
    }

    &:not(.menu__icon--disable):after {
      position: absolute;
      content: attr(data-name);
      display: none;
      top: 30px;
      left: -5px;
      padding: 5px;
      background-color: black;
      border-radius: 5px;
      color: white;
      text-align: center;
      font-family: arial, sans-serif;
      font-weight: normal;
      font-size: 1rem;
    }

    @for $i from 1 to length($iconColors)+1 {

      &:not(.menu__icon--disable):nth-child(#{$i}):hover,
      &--active:not(.menu__icon--disable):nth-child(#{$i}) {
        color: nth($iconColors, $i);
      }
    }
  }

  &__btn {
    display: none;
    background-color: white;
    border: none;
    text-transform: uppercase;
    padding: 2px 10px;
    margin-right: 5px;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    outline: none;

    &--active {
      display: inline-block;
      color: white;
    }

    &--active:nth-of-type(1) {
      background-color: blue;
    }

    &--active:nth-of-type(2) {
      background-color: red;
    }
  }
}

.score-panel {
  box-sizing: border-box;
  position: absolute;
  top: 2px;
  left: 100%;
  background-color: $mainColor;
  margin-left: 10px;
  width: 150px;
  height: $gameSize;
  padding: 30px 0;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__current-game,
  &__best-game {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text,
  &__value {
    text-align: center;
    padding: 5px;
    font-size: 1.6rem;
    font-weight: bold;
  }

  &__value {
    display: block;
    background-color: darken($mainColor, 20%);
    border-radius: 10px;
    width: 80px;
    padding: 2px 0;
    margin: 5px;
    color: white;
  }
}

.result {
  display: none;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 350px;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 7px 0 grey;

  &--show {
    display: block;
  }

  &__paragraph {
    margin-bottom: 10px;
    font-size: 1.6rem;

    &--bold {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
  }

  &__btn {
    background-color: $mainColor;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 0 0 5px 1px lightgrey;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
      background-color: blue;
      color: white;
    }
  }
}

.warning {
  position: fixed;
  top: 2%;
  left: 2%;
  width: 96%;
  height: 96%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;

  display: none;
  justify-content: center;
  align-items: center;

  &__text {
    width: 80vw;
    font-size: 2rem;
    text-align: center;
  }
}

@media (max-width:699px),
(max-height:599px) {
  .warning {
    display: flex;
  }
}

@media (max-width: 900px) {
  .score-panel {
    box-sizing: content-box;
    top: 100%;
    left: 2px;
    margin-left: 0;
    margin-top: 10px;
    width: $gameSize;
    height: 20px;
    padding: 7px 0;

    flex-direction: row;

    &__current-game,
    &__best-game {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 5px;
    }

    &__paragraph {
      font-size: 1.4rem;
    }

    &__value {
      width: 50px;
    }
  }
}