$mainColor: #92D5D6;
$gameSize: 500px; //must be edit in canvas style in html too
$iconColors: (red, blue, yellow);
$bgcModal: #fff;
$switchred: #FF4651;
$switchgreen: #48EA8B;

@import 'interface';
@import 'modals';
@import 'inputRange';

#canvas {
  border: 2px solid black;
  border-radius: 5px;
  background-color: lighten($mainColor, 10%);
}